* {
  margin: 0px;
  padding: 0px;
}

/* selecting root div of react see - public/index.html */
#root {
  min-height: 90vh;
  position: relative;
}

:root {
  --flip-card-width: 20rem;
  --diffuse-card-width: 10rem;

  --primary-dark-yellow: 178, 148, 118;
  --primary-grey-1: 108, 117, 125;
  --primary-grey-2: 33, 37, 41;
  --primary-grey-3: 50, 54, 58;
  --secondry-grey-1: 238, 238, 238;
  --secondry-grey-2: 221, 221, 221;
}

@media screen and (max-width:576px) {
  :root {
    --flip-card-width: 15rem;
    --diffuse-card-width: 7.5rem;
  }
}

a {
  text-decoration: none !important;
  color: black !important;
}

/* General */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* typography */
h1 {
  font-size: 5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

h2 {
  font-size: 4rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

h3 {
  font-size: 2.8rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

h4 {
  font-size: 2.2rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
}

h5 {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
}

/* Forms */
form.myform label {
  width: 100%;
  text-transform: uppercase;
}

form.myform input {
  font-size: 1.6rem;
}

form.myform input:invalid,
form.myform textarea:invalid {
  border: red solid 1px;
  box-shadow: none;
}

form.myform span {
  width: 100%;
  display: inline-block;
  color: red;
}

form.myform button {
  font-size: 1.6rem;
}


/* Buttons */

button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: #FFF;
  border: 1px solid #D5D9D9;
  font-size: 1.8rem;
  height: auto;
  padding: 1rem 2rem;
  width: auto;
  text-align: center;
  font-weight: 400;
  color: #0F1111;
}

button:hover {
  background-color: #F7FAFA;
  border-color: #D5D9D9;
}

button.cta {
  background-color: rgb(var(--primary-grey-1));
  color: white;
  border: none;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%), 0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
}

button.cta:hover {
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

button.disabled {
  cursor: not-allowed;
  box-shadow: none;
}

/* Lobby */

#lobby form{
  margin-top: 2rem;
  width: 30rem;
}

/* Room */
#room div.msgs div.msgbox{
  border: 2px solid rgba(var(--primary-grey-1),0.1);
  margin: 1rem 1.5rem;
  padding: 0.5rem;
}

#room div.msgs div.msgbox ul {
  list-style: none;
}
